# Variables de Entorno - Mundo Zapatería

# 1. Base de datos 
# URL de Conexion. Si usas Docker Compose (como indica el Readme), esto es automático por la red "db".
DATABASE_URL="postgresql://USUARIO:CONTRASEÑA@localhost:5432/TU_DB"

# 2. Configuración general de Autenticación NEXTAUTH
# NEXTAUTH_URL es la url de tu dominio público en Producción (Ej: https://tuzapateria.com)
NEXTAUTH_URL="http://localhost:3000"
# Un texto ofuscado de alto impacto usado para firmar los Tokens de sesión
NEXTAUTH_SECRET="tu-texto-ultrasecreto-deberia-ir-aqui"

# 3. Integración Financiera Mercado Pago (Requerida en Producción)
# Extraído de http://mercadopago.com/developers
MP_ACCESS_TOKEN="APP_USR-000000000-0000-0000-XXXXXXXXX"
